# Role Defining Using Behavior-based Clustering in Github Network

Vesion: Final Submission <br>
Date: 2018-04-23  
Author: Xi Sun  
Student Number: 1000119212  
Course: 1512

## Introduction
The goal of this reseach project is to investigate the behavior-based roles in Github users using unsupervided clustering algorithm.

In other online social-networks, such as Facebook, Youtube and Telecommunication, the behavior-based user roles has been investigated by analyzing user's social-network graphical property, as well as statistics of user's activity. Users are modelled based on those features, and are divided into distinct groups with unsupervised K-means algorithms.

In this project, similar method will be applied to the social-network in Github users. In the following analysis, Github user's acticity data would be collected, and the social network graph based on the follow relationship among users would be estabilished. The aggregated user acitivity data and topological metrics calculated based on the follow network would be comibined and used as user features. Those features would be clustered in to different groups. User roles represented by the cluster centroids will be identified and analyzed.

The bibliograph containing the papers that provide the inspiration for this project are listed at the bottom of the notebook. The following paper is selected the main paper that provides the theoritical and algorithmitic fundation for this project.
> *** T. Zhu, B. Wang, B. Wu, and C. Zhu, “Role defining using behavior- based clustering in telecommunication network,” Expert Systems with Applications, vol. 38, no. 4, pp. 3902–3908, 2011.***
****
Following the similar methodology in the original paper, the analysis went through 4 steps:
- Data Collection
  - User activity and follow relationship data on Github was extracted from GHTorrent data hosted on Goolge Bigquery. The desired information was queried with certain filtering condition.
  - Resulting tables including both the user activity count and follow network relationship.
- Graph Modeling
  - Follow network was generated with python-iGraph. The directed graph contains 1.5 million user nodes and 11 million edges representing follow relationship.
  - Various topological features were calculated, such as pagerank, betweenness, closeness and transitivity.
- Feature Exploration and Preprocessing
  - Features table was merged from topological feature table and user activity table
  - Each feature was carefully explored. The distribution was examined using q-q plot. Corresponding filtering strategies were determined
  - Filtering conditions were applied to clean the data
  - Featurs were scaled into standard normal distribution, for the reason that k-means clustering is sensitive to high variance and skewed features.
- Clustering
  - According to both the guidance paper and other paper comparing multiple clustering algorithms [8], bisecting k-means algroithm was used to cluster the users. According to the papers, bisecting k-means on average has better performance than k-means, and tends to give more stable splits with less skewed cluster sizes.
  - Elbow method was used to determine the optimal number of cluster to use, k was experimented in range [2,20], 8 was determined to be the optimal choice.
  - Users were divided in to 8 clusters, and their centroid were recorded.
- Role Identification and Explaination
  - Cluster centroids were scaled into range [1,10] to facilitate the visualization, for the reason that we only care about the relative magnitude of each feature among clusters.
  - Cluster centroides were visualized, and each role type was identified and explained combined with the unscaled average features of clusters.

Finally the lessons learned and possible defects in the analysis are identified, and possible improvement is proposed as future work.
****

## Project Stages
The project is divided through 3 iterations based on the CRISP-DM chart. Each step is described as below: 
****
- ** Version 1:   **
    - Data Understanding
        - Collect Initial Data
        - Explore and Describe Data
            - Metadata and Basic Questions
        - Verify Data Quality
    - Data Preparation
        - Select Data
        - Clean Data
        - Construct Data
        - Integrate Data

- ** Verison 2:**
    - Modelling
        - Select Modeling Technique
        - Further Clean and Construct data based on selected model
        - Generate Test Design
        - Build Model
        - Assess Model
- **Version 3:  **
    - Adding explanatory sections to show the purpose of each step
    - Explain the insights from the modeling result
    - Review the experiment and lessons learned
  ****

## Summary for 3 iterations & Time Spent
****
**Version 1 Time Allocation**  
During the 1st iteration, the following activies were performed:

- Determined best Github dataset to be used within Group (2 hrs)
    - Group discussion on the required features, and possible data cleaning strategies
    - Browsed Github Archive, BigQuery Public Github Dataset, and GHTorrent dataset.
    - Analyzed the schema of tables from 3 data sources.
    - Determined to stick with GHTorrent using Google's BigQuery.

- Determined schema of the desired table to be used for modeling (1 hr)
    - Reviewed the chosen papers from literature review
    - Combined with the features available from the offered GHTorrent tables
    - Decided the schema of final tables to be produced

- Extracted intermidiate tables and Explore with histogram (2 hr)
    - Manipulate multiple tables to produce intermidiate features
    - Generate histogram to explore the distribution of each feature
    - Evaluate the distribution, determine potential filter condition for each feature

- Built final tables based on the intermidiate tables (1 hr)
    - Filter out less meaningful data
    - Combine the intermediate tables into the final table to be used in the modeling stage.

- Researched potential modeling technique and tools (4 hrs)
    - Experimented with ways to export BigQuery tables, including pandas.gbq, spark-bigquery and BigQuery Interpreter.
    - Experimented with different environments JupyterNotebook(colab), IBM Zeppline, Databricks.
    - Decided to use Google Colab to build graph with iGraph package, and pySpark ML on Databricks platform for the k-means clustering.    
    
**Version 2 Time Allocation**               
During the 2nd iteration, the following activies were performed:
- Graph Modelling in Google Colaboratory (4 hrs)
  - The follow-network data from Version 1 is used in this analysis, the graph contains 1 million nodes and 11 million edges.
  - Generate the follow network usign python-iGraph package.
  - Various topological featurs for each node were calculated. For example, pagerank, betweenness, closeness and transitivity.
  - The calculated topological features were combined with the user activity features as the input for the clustering algorithm.
- Feature Exploration and preprocessing in Databricks (2hrs)
  - Import the feature table in to the Databricks notebook, parallelized into RDD.
  - Analyzed distribution of each feature using pySparkSQL 
  - Determined abnormal range and filtering conditions
  - Scaled features into standard normal distribution.  
- k-means Clustering (3 hr)
  - Converted features to Spark Vector data structure
  - Experimented with both k-means++ and bisecting k-means to evaluate clustering quality
  - Determined the optimal k-value 
  - Visualized cluster centroids
- Role Identification (4 hr)
  - Attempted to identify each role type based on their features
  
**Version 3 Time Allocation**  
The framework of the analysis are basically done in the previous 2 iterations. This iteration aims to make the report more readable.
- Adding explainary sections (3hrs)
  - For each section of work, explanatary paragraphs were added to improve the report readability. 
  - Added insights gained from each section, which gives guidance to the following steps.
- Lessons Learned and Future Works Summary (1hr)
  - Reviewed the work done in all iterations, summarized the possible improvement and proposed possible future works.
  ****

## Basic Questions on Data Structure, Granularity, Temporality and Scope.
Before the start of the project, a few questions are proposed, and will be considered for the future processing. Those questions serve as guidelines on the data processing process, which will significantly affect the quality of the analysis.

  ****
**Basic Questions to Assess Structure**
- Do all records in the dataset contain the same fields?
  - Answer: Yes. All of the data to be gathered are from the same relational database hosted on Bigquery. The well structured relational tables ensure the records have same fieds.
- How can you access the same fields across records? By position? By name?
  - Answer: After been collected, the data in each fields will be analyzed in terms of distribution, min, max, mean and median values observation. The Quantile-Quantile plots will be used to visualize the distribution, and the abnormal region will be analyzed closely.
- How are the records delimited/separated in the dataset?
  - Answer: The records are discreted in the scope of the analysis, the records are limited to be the distinct users appeared in the follow network.
- Any records fields encoded?
  - Answer: No. The features to be analyzed are all discrete values from either the aggregated count of user activities or the topological metrics calculated for each user.
- What are the relationship types between records and the record fields?
  - Answer: The relationship is singular. Meaning that for a certain primary key (user in this case), all the aggregated and topological metrics are unique.
****
**Basic Questions to Assess Data Granularity **
- What kind of thing (person, object, relationship, event, etc.) do the records represent?
  - Answer: Each record stands for a distinct user in the Github follow network. The features are calculated based on their Github lifecycle.
- Are the records homogeneous (represent the same kinds of things)? Or heterogeneous?
  - Answer: The records are homogeneous, each field for users represents the same metric.
****
**Basic Question to Assess Data Accuracy**
- Accuracy related to the mechanism that produce the data:
  - Answer: The data source is very reliable, the activities shown in the source tables are the activities actually happened on Github server. Therefore, the error from the data source are negligible.
- Distribution of inaccuracies across dataset:
  - Answer: As said, the accuracy from the data source is negligible, however, the abnormal user behaviors will cause abnormal records. The abnormal distribution, and the proportion of abnormal records will be carefully analyzed in the exploratary study.
****
**Basic Questions to Assess Data Temporality**
- When was the dataset collected?
  - Answer: The data is collected from the GHTorrent copy hosted on Github Bigquery. The source data was collected continuously over the Githubt's lifecycle.
- Were all the records and record fields collected/measured at the same time? If not, is the temporal range significant?
  - Answer: The source data are aggregated over the Github's lifecycle, they all have consistend definition over the time period, therfore, the temporal range is not affecting the data quality.
- Are the timestamps associated with collection of the data known and available (as a record field) or as associated metadata?
  - Answer: Yes the timestamps are all available, but since this analysis only involves the aggregated records in the original data, the timestamps is not affecting the analysis.
****
**Basic Questions to Assess Data Scope:**
- Given the granularity of the dataset, what characteristics of the things (e.g., people, objects, relationship, events, etc.) represented by the records are captured by the record fields? What characteristics are not captured?
  - Answer: The aggregated activity counts, such as pull_request, commit, repo_watch, in/out degree are captured over the lifetime of those users. The follow relationship up to the 2017-May-01 are captured as well. However, the time sensitive user activities are not considered. For example, the different behavior patterns for a user in several consecutive time periods are not considered.
- For the analysis that you want to perform, can you deduce or infer additional relevant characteristics from the ones that you have? 
  - Answer: Using the raw data, the topological metrics for users in the follow network will be infered/calculated. Since the topological features to be calculated are well defined in the graph theory, the inferred/calculated value will be accurate if the given network is well constructed.
- Are the same record fields available for all records? 
  - Answer: Yes. Those fields are all available through counting. The missing fields are simply 0 count.
  ****

## Data Retrieval from Google BigQuery
**This section contains the SQL queries that used to extract Github user activity and follow network data from Goolge Bigquery.**  
In this section, data extraction were performed on GHTorrent's copy hosted on Google's Bigquery platform. The GHTorrent data hosted on the Google Bigquery including 21 tables containing various user activity and repository information. The target table to be extracted including the Github user activity counts, as well as the follow network data. The retrieval process follow the suggestions in the "Promises and Perils in Mining Github data"[6].  

Multiple processes were performed in order to retrieve the desired data structure from the raw dataset. Those steps are described as below:
- Activie user filtering:
  - Commit number of each user are counted, and visualized with the histogram
  - User with commit count less than 10 are discarded as inactive users
- Follow network user filtering:
  - As per the focus of this analysi, users are filtered out if they are not part of the follow network in Github
  - Follow ralationship data is collected, which can be used to generate follow network in the later steps
  - Indegree and outdegree per user was calculated from the follow network data
- User activity counting:
  - Multiple user activities were counted for active users in the follow network, such as commit count, watch count, pull request count.
- Feature table generating:
  - Resulting tables are generated by combining the relevant information and applying filters.

The SQL queries below are the key queries used in the above stated retrieval process, the comment on the top part of each cell explains the function of the query.

- The commit count was calculated for all users in Github

In [0]:
# -- select commiter_id & commit_count per committer
# SELECT committer_id, COUNT(committer_id) as commit_count
# FROM [ghtorrent-bq:ght_2017_05_01.commits] 
# GROUP BY committer_id

- User's commit count was shown in hisogram with bin size of 10, it's found the user with less than 10 commits accounts for 62% of the total user. Based on the observation and the paper "Promises and Perils of mining Github  d Data" [6], users with commit are decided to be removed.

In [0]:
# -- generate histogram of user_commit_count, with ratio in each bin
# -- indicating commit_count_bin (coummit_count<10) accounts for 62% of all users. To be discarded.

# SELECT *, count_in_bin/(SUM(count_in_bin) OVER ()) ratio
# FROM
# (
#   SELECT  FLOOR(commit_count/10) as commit_count_bins, COUNT(committer_id) as count_in_bin
#   FROM `elite-bedrock-197000.users.users_commit_count`
#   GROUP BY commit_count_bins
#   ORDER BY commit_count_bins
# )

- Select users with commit_count > 10

In [0]:
# -- select user, only whose commit# > 10
# SELECT *
# FROM
#   `elite-bedrock-197000.users.users_commit_count`
# WHERE
#   commit_count>10
# ORDER BY commit_count

- Users in the follow network are filtered with condition of commit_count > 10. 
- This table will be used to construct follow network in the later steps.

In [0]:
# --Filter user, follower id for commit count >10.
# SELECT user_id , follower_id  FROM `ghtorrent-bq.ght_2017_05_01.followers` as f
# WHERE 
#   (f.user_id in
#     (SELECT committer_id  FROM `elite-bedrock-197000.users.users_committed_10_more`))
#   AND
#   (f.follower_id in (SELECT commit_count  FROM `elite-bedrock-197000.users.users_committed_10_more`))
# ORDER BY user_id

- From all users with commit_count > 10, select those distinct users in the follow network.

In [0]:
# SELECT
# user_id 
# FROM
#   `elite-bedrock-197000.users.follow_network_active_users`
#   UNION DISTINCT
# SELECT
# follower_id 
# FROM
#   `elite-bedrock-197000.users.follow_network_active_users`

- Count the repository wathes made by all users

In [0]:
# --select watch_count per user
# SELECT user_id, COUNT(*) watch_count
# FROM
#   `ghtorrent-bq.ght_2017_05_01.watchers`
# GROUP BY user_id
# ORDER BY watch_count desc

- Hisogram with bin size of 10 to verify the count.

In [0]:
# -- histogram of watch
# SELECT *, count_in_bin/(SUM(count_in_bin) OVER ()) ratio
# FROM
# (
#   SELECT  FLOOR(watch_count/10) as watch_bins, COUNT(user_id) as count_in_bin
#   FROM `elite-bedrock-197000.users.watch_count`
#   GROUP BY watch_bins
#   ORDER BY watch_bins
# )

- Count In_Degree for each user by counting followers

In [0]:
# -- select user_id and # followers for each user
# SELECT user_id, COUNT(user_id) FROM [ghtorrent-bq:ght_2017_05_01.followers] 
# GROUP BY user_id

- Count Out_Degree for each user by counting followings

In [0]:
# -- count of following per user
# -- max_following 	min_following	avg_following
# -- 37962	1	106.3690909090907
# SELECT
# follower_id as user_id, COUNT(*) following_count
# FROM
#   `ghtorrent-bq.ght_2017_05_01.followers`
# GROUP BY user_id
# ORDER BY following_count DESC

- Count pull requests made by each user

In [0]:
# --Pull request count per user
# SELECT actor_id as user_id, COUNT(*) as pull_count
# FROM
#   `ghtorrent-bq.ght_2017_05_01.pull_request_history`
# GROUP BY actor_id 
# HAVING actor_id IS NOT NULL
# ORDER BY pull_count DESC

- Left join on distinct users in the follow network to get the aggregated features for distinct user with commit_count > 10. Those aggregated features including in/out degree, pull request count, commit count and watch count.

In [0]:
# --users.user_behavior_joint
# SELECT 
#   un.user_id,
#   IFNULL(up.pull_count,0) pull_count,
#   IFNULL(uw.watch_count,0) watch_count,
#   IFNULL(uc.commit_count,0) commit_count,
#   IFNULL(ufollower.follower_count,0) as in_degree,
#   IFNULL(ufollowing.following_count,0) as out_degree
# FROM
#   `elite-bedrock-197000.users.network_distinct_user` un
# LEFT OUTER JOIN
#   `elite-bedrock-197000.users.pull_count` up
#   ON un.user_id = up.user_id
# LEFT OUTER JOIN
#   `elite-bedrock-197000.users.watch_count` uw
#   ON un.user_id = uw.user_id
# LEFT OUTER JOIN
#   `elite-bedrock-197000.users.users_commit_count` uc
#   ON un.user_id = uc.committer_id
# LEFT OUTER JOIN
#   `elite-bedrock-197000.users.follower_count` ufollower
#   ON un.user_id = ufollower.user_id
# LEFT OUTER JOIN
#   `elite-bedrock-197000.users.following_count` ufollowing
#   ON un.user_id = ufollowing.user_id

### Final Tables
- **Table: User_Behavior_Joint** (65MB)
    - Consists of active user id that has appeared in the Github follow-network
    - For each user, contians pull_count, commit_count, watch_count, in/out degree.
    - Will be joined with the graphical properties table, which contains pageRank and betweeness.

- **Table: Follow_network_active_user** (157MB)
    - Contians user who appears in Github follow_network who has committed more than 10 times in lifecycle.
    - Will be used to build the graph and find the graphical properites, such as pagerank and betweeness.
    - Will be joined with the user_behavior_joint table for clustering

## Final tables retrieved 
For the purporse of convinience and reproducability. The resulting table are exported from Google Bigquery to local .csv files.  
The .csv files will act as the data source in the following operations.

In [0]:
import pandas as pd
import numpy as np
from google.colab import files

### Retrieve user_behavior table from BigQuery
user_bahavior is read from Goolge Bigquery and downloaded as csv files. The process is commented out for convinience. The csv files are uploaded to online storage and will be imported from there when needed.

In [7]:
'''retrieve user_behavior_joint table'''
# user_behavior = pd.read_gbq("SELECT * FROM users.user_behavior_joint", project_id = "elite-bedrock-197000")

'retrieve user_behavior_joint table'

In [8]:
'''
download table extracted from BigQuery to .csv, will be used in the future
'''
# user_behavior.to_csv("user_behavior.csv",index=False)

# files.download("user_behavior.csv")

'\ndownload table extracted from BigQuery to .csv, will be used in the future\n'

### Retrieve follow_network table from BigQuery
follow_network is read from Goolge Bigquery and downloaded as csv files. The process is commented out for convinience. The csv files are uploaded to online storage and will be imported from there when needed.

In [9]:
'''
import follow_network_active_user table from BigQuery
'''
# follow_network_df = pd.read_gbq("SELECT * FROM users.follow_network_active_users", project_id = "elite-bedrock-197000")

'\nimport follow_network_active_user table from BigQuery\n'

In [10]:
'''
Download the table from BigQuery as .csv, to be used in the future.
'''
# follow_network_df.to_csv("follow_network.csv",index=False)
# files.download("follow_network.csv")

'\nDownload the table from BigQuery as .csv, to be used in the future.\n'

## Read retrived tables from .csv files.
The above generated tables are firstly imported from Google Bigquery and then written into local csv files.
The csv files are uploaded to the online storage. In this section, those csv files are imported from the online storage.

### read user_behavior table
- Import and visualize the table structure

In [0]:
user_behavior_df = pd.read_csv("https://drive.google.com/uc?export=download&id=1NT3HZmrrbgUVBz5o6z_JwW5A5vRXOgJo")

In [12]:
user_behavior_df.shape

(1417742, 6)

In [13]:
user_behavior_df.head(50)

     user_id  pull_count  watch_count  commit_count  in_degree  out_degree
0     184823         408          913          2181         49         246
1      15119        2544           44          2033         33        1933
2       2163         771           53          2021         30        7760
3    5738423           5          200           167         85          52
4     243997          80           25          1965         23          36
5   11300927           8           29            12         33          75
6    6239096         230           78           904         51          44
7     214791           6          379           368         52          21
8    8423805          35          473          1154         86          52
9      77789         169          675          1884        110         395
10     61352         313          415          1353        120        1360
11     14059         386           83          1054         45         109
12   1589791         129          189           706         34          67
13    934531         868           34          3098         31          45
14   3154382          11         2498           260         71         128
15    448105         491           69          4262         65          48
16   3346160          34          201           790         40          92
17     41982          58         5265           801        987         114
18    248010          57          369           402         27          98
19    191963          76           45           297         30         232
20     17413         494          199         10756         57        1361
21     43974         386           97          3165         64          65
22   3507531         294          263          1034        180         141
23      3205           4          494           350        157          51
24   1443719         930          126          2843         42          30
25    190207        2510          290          7840         34         569
26    232484         287           73          1027         25         149
27     21464         892          535          6181        122         338
28      8262          68          134           343        255         187
29    169540         487          266          1525         58          69
30    217914          91           19           354         24          61
31    184488           8           34            37         46          40
32      2284         275          816          1242        314         744
33     16265         355          387          2230         95         119
34   1358257        1580           78          2644         29         242
35    134309          38           19           186         43         139
36   2535653           2          234            12         96          29
37   1663856           5          520           277        246          49
38    228351           9           44           350         35          71
39     28831        1899          115         11257         36        1271
40  10879746          45          334           713        303          75
41    222966          11           80            97         21          80
42     26221          36         1380           459        242          87
43     30895         565          103          1246        138          75
44   1942516           5         2182           371         34         255
45  11281668          80            0           262         31          27
46     47556         131          713           987        149         148
47   3255318         623          479          1658         59          28
48  10838155          10           32           237         47          29
49     80635          39           74           179         48          41

### read follow_network table
- Import and visualize table structure

In [0]:
follow_network_df = pd.read_csv("https://www.dropbox.com/s/ggauq5457cl73ug/follow_network.csv?dl=1")

In [15]:
follow_network_df.shape

(10291130, 2)

In [16]:
# visualize the follow_network_active_users table structure
follow_network_df.head(50)

    user_id  follower_id
0   4130475      4464921
1   4162878       766946
2   4187138       129346
3   4195606      3096084
4   4224507       128586
5   4227584      3754996
6   4227845        27507
7   4256831        24814
8   4258102     30829010
9   4281540       618593
10  4292897         8753
11  4295485       618377
12  4296573        16507
13  4308769        57415
14  4310245       162837
15  4339867      7921475
16  4339959      4397935
17  4340056       948111
18  4340626       115278
19  4343384       166400
20  4363150      4262547
21  4382184      2632628
22  4382354      1493036
23  4392681        47707
24  4397191         3871
25  4412911       187425
26  4418836      4430155
27  4426558       422211
28  4430697     10170789
29  4430865       103452
30  4441087       672764
31  4445392       160814
32  4447459       448274
33  4449949      6796546
34  4453987      2052837
35  4456140      3076541
36  4460658        86033
37  4469347      8335582
38  4479096      2795318
39  4493201      3635782
40  4521191      2673845
41  4540508        24452
42  4548348        27507
43  4549616        44487
44  4556151      1891413
45  4566397       630996
46  4567450       114698
47  4576389      1621615
48  4578477      2230308
49  4591193      5853860

## Graphical Modeling
Having extracted the Github follow relationship, we then want to generate the follow network graph, and calculate multiple topological metrics for each vertex(user).  
In this section, python-iGraph, an graph package written in C with Python API, was used to generate the graph and topological metrics.  
The following steps were performed:
- Distinct users in the follow network are extracted, which will be used to setup vertices. There were 1.4 million vertices in the follow network.
- After adding the vertices, the directed graph was built by adding the follow relationship as edge. Edge was added for each pair of users with follow relationship, and edge is always pointing to the user been followed. There were 10 million edges in the follow network.
- Multiple topological metrics were calculated, such as pagerank, clustering coefficient, closeness and betweenness. The considerably large graph size resulted in extra long computation time for closeness and betweenness, therefore, the estimation value were calculated by only considering the path with distance less or equal to 2.
- The calculated topological metrics were assigned to each user. The dataframe containing those information is exported as an .csv file, and it will be used in the clustering analysis in the spark environment.

In [17]:
!pip install python-igraph

Collecting python-igraph
  Downloading https://files.pythonhosted.org/packages/0f/a0/4e7134f803737aa6eebb4e5250565ace0e2599659e22be7f7eba520ff017/python-igraph-0.7.1.post6.tar.gz (377kB)
    100% |████████████████████████████████| 378kB 2.3MB/s
Building wheels for collected packages: python-igraph
  Running setup.py bdist_wheel for python-igraph ... - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | /

 - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ |

 / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \

 | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / -

 \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - done
  Stored in directory: /content/.cache/pip/wheels/41/d6/02/34eebae97e25f5b87d60f4c0687e00523e3f244fa41bc3f4a7
Successfully built python-igraph
Installing collected packages: python-igraph
Successfully installed python-igraph-0.7.1.post6
You are using pip version 9.0.3, however version 10.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [0]:
import igraph as ig

In [0]:
# follower and following list
user_id_ls = follow_network_df.user_id.tolist()
follower_id_ls = follow_network_df.follower_id.tolist()

In [0]:
# distinct user list
unique_user_ls = list(set(user_id_ls+follower_id_ls))

In [21]:
# count of distinct users in network
len(unique_user_ls)

1417742

### Dataframe of unique users in the network

In [0]:
# create dataframe containing distinct users in the follow network.
unique_user_df = pd.DataFrame(np.sort(unique_user_ls))

In [0]:
# assign index for each user
unique_user_df['index'] = unique_user_df.index

In [0]:
unique_user_df.columns = ['user_id','index']

In [25]:
unique_user_df.head()

   user_id  index
0        1      0
1        2      1
2        4      2
3        5      3
4        6      4

In [0]:
# key = user_id; value = index
user_idx_dict = unique_user_df.set_index('user_id').to_dict()['index']

In [0]:
# idx_follow_network_df: convert each user_id to the corresponding vertex_idx to, to be used in igraph generation
idx_follow_network_df = follow_network_df.applymap(lambda x: user_idx_dict[x])

In [28]:
idx_follow_network_df.head()

   user_id  follower_id
0   776803       797890
1   777267       271337
2   777743        75110
3   778547       651911
4   779358        74730

In [0]:
# init igraph directed graph
g = ig.Graph(directed = True)

In [0]:
# add users as vertices
g.add_vertices(len(unique_user_ls))

In [31]:
print(g)

IGRAPH D--- 1417742 0 --

In [0]:
# tuples representing edge
edge_tuple_ls = list(zip(idx_follow_network_df.follower_id,idx_follow_network_df.user_id))

In [33]:
edge_tuple_ls[:5]

[(797890, 776803),
 (271337, 777267),
 (75110, 777743),
 (651911, 778547),
 (74730, 779358)]

In [0]:
# adding edge for each follow relationship between 2 users. The edge points from
# the following user to the user been followed.
g.add_edges(edge_tuple_ls)

In [35]:
ig.summary(g)

IGRAPH D--- 1417742 10291130 --

### Calculate pagerank
- This step focus on generating the metric, while the distribution exploration will be carefully performed in the later section.

In [0]:
# calculate the pagerank for each vertex
pagerank_list = g.pagerank()

In [37]:
len(pagerank_list)

1417742

In [0]:
# add pagerank of each user
unique_user_df['pagerank'] = pagerank_list

In [39]:
unique_user_df.head()

   user_id  index      pagerank
0        1      0  1.230313e-06
1        2      1  3.519563e-05
2        4      2  2.922288e-06
3        5      3  1.514871e-07
4        6      4  3.050668e-07

### Calculate betweenness
- This step focus on generating the metric, while the distribution exploration will be carefully performed in the later section.

In [40]:
%%time
# calculate betweeness off each user 
betweenness_list = g.betweenness(cutoff=2)

CPU times: user 7min 36s, sys: 2.43 s, total: 7min 39s
Wall time: 7min 35s

In [0]:
# assign betweenness to each user
unique_user_df['betweenness'] = betweenness_list

In [42]:
unique_user_df.head()

   user_id  index      pagerank   betweenness
0        1      0  1.230313e-06    290.079004
1        2      1  3.519563e-05  84875.616545
2        4      2  2.922288e-06   5856.666745
3        5      3  1.514871e-07    306.654159
4        6      4  3.050668e-07      0.950000

### Calculate closeness
- This step focus on generating the metric, while the distribution exploration will be carefully performed in the later section.

In [43]:
%%time
# calculate closeness of each user
'''
CPU times: user 45min 34s, sys: 17.7 s, total: 45min 52s
Wall time: 45min 33s
'''
closeness_list = g.closeness(cutoff=2)

CPU times: user 42min, sys: 10.2 s, total: 42min 10s
Wall time: 41min 57s

In [0]:
# assign closeness to each user
unique_user_df['closeness'] = closeness_list

In [45]:
unique_user_df.head()

   user_id  index      pagerank   betweenness     closeness
0        1      0  1.230313e-06    290.079004  7.907901e-07
1        2      1  3.519563e-05  84875.616545  9.271834e-07
2        4      2  2.922288e-06   5856.666745  8.720820e-07
3        5      3  1.514871e-07    306.654159  8.190658e-07
4        6      4  3.050668e-07      0.950000  7.494212e-07

### Calculate transitivity (clustering_coefficiency)
- This step focus on generating the metric, while the distribution exploration will be carefully performed in the later section.

In [46]:
%%time
transitivity_list = g.transitivity_local_undirected(mode='zero')

CPU times: user 6.66 s, sys: 48 ms, total: 6.71 s
Wall time: 6.68 s

In [0]:
# assign transitivity/clustering coefficient to each user
unique_user_df['transitivity'] = transitivity_list

## Merge vertices metrics and user_behavior_count table

In [48]:
# show head of user_behavior table
user_behavior_df.head()

   user_id  pull_count  watch_count  commit_count  in_degree  out_degree
0   184823         408          913          2181         49         246
1    15119        2544           44          2033         33        1933
2     2163         771           53          2021         30        7760
3  5738423           5          200           167         85          52
4   243997          80           25          1965         23          36

In [0]:
# sort the table by user_id, as in the topological feature table above
user_behavior_df.sort_values(by=['user_id'],axis=0,inplace=True)

In [0]:
user_behavior_df.reset_index(inplace=True,drop=True)

In [51]:
user_behavior_df.shape

(1417742, 6)

In [0]:
# merge graph metrics and behavior info.
user_feature_df = user_behavior_df.merge(unique_user_df,how='inner',on='user_id')

In [53]:
user_feature_df.head()

,user_id,pull_count,watch_count,commit_count,in_degree,out_degree,index,pagerank,betweenness,closeness,transitivity
0,1,13,59,55,22,28,0,1.230313e-06,290.079004,7.907901e-07,0.106312
1,2,228,706,12846,404,356,1,3.519563e-05,84875.616545,9.271834e-07,0.015334
2,4,148,248,1538,79,149,2,2.922288e-06,5856.666745,8.720820e-07,0.058108
3,5,1224,64,12251,3,285,3,1.514871e-07,306.654159,8.190658e-07,0.024017
4,6,8,49,109913,4,5,4,3.050668e-07,0.950000,7.494212e-07,0.392857

In [0]:
# drop the unnecessary index column
user_feature_df = user_feature_df.drop('index',axis=1)

In [55]:
# final merged feature table, contains both vertices info and graph info.
user_feature_df.head()

,user_id,pull_count,watch_count,commit_count,in_degree,out_degree,pagerank,betweenness,closeness,transitivity
0,1,13,59,55,22,28,1.230313e-06,290.079004,7.907901e-07,0.106312
1,2,228,706,12846,404,356,3.519563e-05,84875.616545,9.271834e-07,0.015334
2,4,148,248,1538,79,149,2.922288e-06,5856.666745,8.720820e-07,0.058108
3,5,1224,64,12251,3,285,1.514871e-07,306.654159,8.190658e-07,0.024017
4,6,8,49,109913,4,5,3.050668e-07,0.950000,7.494212e-07,0.392857

## Export feature table as CSV file.

In [0]:
from google.colab import files

unique_user_df.to_csv('unique_user_metrics.csv')
files.download('unique_user_metrics.csv')

In [0]:
user_feature_df.to_csv('user_feature.csv')
files.download('user_feature.csv')

### In the next step, users are clustered into distinct roles based on the feature table. The clustering modeling and it's visualization is done on Databricks platform using Spark ML. Please refer to the Databricks Spark notebook.

## Bibliograph:
***[1] T. Zhu, B. Wang, B. Wu, and C. Zhu, “Role defining using behavior- based clustering in telecommunication network,”  Expert Systems with Applications, vol. 38, no. 4, pp. 3902–3908, 2011.***

[2] M. Maia, J. Almeida, and V. Almeida, “Identifying  user behavior in online social networks,” in Proceedings  of the 1st workshop on Social network systems.  ACM, 2008, pp. 1–6.

[3] A. J. Lee, F.-C. Yang, H.-C. Tsai, and Y.-Y. Lai, “Discovering content- based behavioral roles in social networks,” Decision Support Systems, vol. 59, pp. 250–261, 2014.

[4] Y. Yu, G. Yin, H. Wang, and T. Wang, “Exploring the patterns of social behavior in github,”  in Proceedings  of the 1st international  workshop on crowd-based software development methods and technologies.ACM,2014, pp. 31–36.

[5] Lima, Antonio, Luca Rossi, and Mirco Musolesi. "Coding Together at Scale: GitHub as a Collaborative Social Network." ICWSM. 2014.

[6] E. Kalliamvakou, G. Gousios, K. Blincoe, L. Singer, D. M. German, and D. Damian, “The promises and perils of mining github,” in Proceedings of the 11th working conference on mining software repositories.  ACM,2014, pp. 92–101.

[7] Arthur, David, and Sergei Vassilvitskii. "k-means++: The advantages of careful seeding." Proceedings of the eighteenth annual ACM-SIAM symposium on Discrete algorithms. Society for Industrial and Applied Mathematics, 2007.

[8] Steinbach, Michael, George Karypis, and Vipin Kumar. "A comparison of document clustering techniques." KDD workshop on text mining. Vol. 400. No. 1. 2000.

[9] Al Hasan, Mohammad, et al. "Link prediction using supervised learning." SDM06: workshop on link analysis, counter-terrorism and security. 2006.